.main {
   margin-top: rem(70);
}

//!! Hero block =======================================================

.hero {
   background: url('img/hero/hero__bg.png')0 0 /100% 100% no-repeat;
   @include adaptiveValue("padding-top", 120, 50);
   @include adaptiveValue("padding-bottom", 140, 30);

   &__container {}

   &__block {
      display: grid;
      grid-template: auto/auto 47.25%;
      align-items: center;
      gap: rem(30);

      @media (max-width:700px) {
         grid-template: auto/auto;
         align-items: start;
         gap: rem(10);
      }

   }

   &__content {
      @media (min-width:700px) {
         margin-right: -18.5%;
      }

      &__title {
         font-family: var(--second-family);
         @include adaptiveValue("font-size", 62, 30);
         font-weight: 700;
         line-height: 130%;
         color: var(--white-1);

         &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 40, 14);
         }
      }

      &__subtitle {
         max-width: rem(580);
         @include adaptiveValue("font-size", 18, 16);
         line-height: 150%;
         color: var(--white-1);
         @include adaptiveValue("padding-bottom", 80, 14);

      }

      &__button {}
   }

   &__img {
      display: flex;

      @media (max-width:700px) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }

      img {
         @media (max-width:700px) {
            transform: scale(0.9) translateX(-7%);
         }

         max-width: 100%;
         object-position: top;
      }
   }

   &__icons {
      position: fixed;
      top: rem(180);
      right: 0;
      display: flex;
      flex-direction: column;
      row-gap: rem(40);
      opacity: 0.5;
      transition: all 0.8s ease 0s;

      @media (max-width:500px) {
         display: none;
      }

      @media (any-hover: hover) {
         &:hover {
            opacity: 1;
         }
      }

      svg {
         width: rem(22);
         height: rem(28);
         fill: var(--white-1);
         stroke-width: 0.40px;
         stroke: #1d1d35;
         transition: all 0.8s ease 0s;
      }

      .svg-culc-dims {
         height: rem(26);
         width: rem(26);
         stroke-width: 1.50px;
         stroke: var(--white-1)
      }
   }
}