.services {
   @include adaptiveValue("padding-top", 30, 0, 800, 320, 1);
   @include adaptiveValue("padding-bottom", 59, 40);
   background: url('img/services/services__bg.png') 0 0 /100% 100% no-repeat;

   &__container {}

   &__block {}

   &__title {
      padding-top: rem(10);
      font-family: var(--second-family);
      font-weight: 800;
      @include adaptiveValue("font-size", 40, 24);
      letter-spacing: 0.15em;
      text-transform: uppercase;
      font-size: 40px;

      &:not(:last-child) {
         padding-bottom: rem(40);
      }
   }

   &__items {
      @media (min-width:500px) {
         display: grid;
         grid-template: auto/repeat(auto-fit, minmax(rem(400), 1fr));
         grid-auto-rows: auto;
         gap: rem(20);
      }
   }

   &__items__sl {}

   &__item {
      border: rem(1) solid #3f4e72;
      padding: rem(30) rem(40);
      box-shadow: 20px 20px 70px 0 rgba(21, 21, 38, 0.7), -20px -20px 70px 0 rgba(44, 45, 79, 0.41);
      background: var(--dark-blue);

      @media (max-width:$tablet) {
         padding: rem(30) rem(20);
      }

      &__title {
         font-weight: 500;
         @include adaptiveValue("font-size", 28, 22);

         &:not(:last-child) {
            padding-bottom: rem(30);
         }
      }

      &__list {
         display: grid;
         grid-template: auto/1fr auto;
         column-gap: rem(25);
         row-gap: rem(14);

         @media (max-width:500px) {
            grid-template: auto/auto;
         }

      }

      &__link {
         line-height: 140%;
         padding-bottom: rem(5);
         border-bottom: rem(1) solid #22C6EA;
      }

      &__wrapper {
         transition: all 0.8s ease 0s;
      }

      &__button {
         justify-self: start;
      }
   }
}