@font-face {
	font-family: PFDinTextCondPro;
	font-display: swap;
	src: url("../fonts/PFDinTextCondPro-Bold-2.woff2") format("woff2"), url("../fonts/PFDinTextCondPro-Bold-2.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: PFDinTextCondPro;
	font-display: swap;
	src: url("../fonts/PFDinTextCondPro-Regular-2.woff2") format("woff2"), url("../fonts/PFDinTextCondPro-Regular-2.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}