@use "sass:math";
//add bootstrap
//@import "bootstrap/scss/bootstrap";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "@scss/null/mixins.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Manrope:800,900&display=swap");

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts.scss";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: var(--font-family);

$fontSize: rem(18); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
:root {
   --white-1: #f9f9f9;
   --black-1: #131313;
   --dark-blue: #1a1b30;
   --blue: #a7a5c5;
   --accent-1: #22c6ea;
   --accent-2: #22233e;
}

:root {
   --font-family: "Inter", sans-serif;
   --second-family: "Manrope", sans-serif;
   --third-family: "Ubuntu", sans-serif;
}

$mainColor: var(--white-1); // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "@scss/null//null";


body {
   background: var(--dark-blue);

   // Скролл заблокирован
   .lock & {
      overflow: hidden;
      touch-action: none;
   }

   // Сайт загружен
   .loaded & {}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;

   // Прижимаем footer
   >main {
      flex: 1 1 auto;
   }

   // Фикс для слайдеров
   >* {
      min-width: 0;
   }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

   // Отзывчивая
   [class*="__container"] {
      @if ($maxWidthContainer>0) {
         max-width: rem($maxWidthContainer);
         box-sizing: content-box;
         margin: 0 auto;
      }

      @if ($containerPadding>0) {
         padding: 0 rem(math.div($containerPadding, 2));
      }
   }
}

@else {

   // По брейк-поинтам
   [class*="__container"] {
      margin: 0 auto;

      @if ($maxWidthContainer>0) {
         max-width: rem($maxWidthContainer);
         box-sizing: content-box;
      }

      @else {
         @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }

      @media (max-width: $pc) {
         max-width: rem(970);
      }

      @media (max-width: $tablet) {
         max-width: rem(750);
      }

      @media (max-width: $mobile) {
         max-width: none;

         @if ($containerPadding>0 and $maxWidthContainer>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }
   }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "@scss/base/base";

// Подключение стилей общих элементов проекта
@import "@scss/null/common";

// Подключение стилей отдельных блоков
@import "@scss/pages/footer";
@import "@scss/pages/header";

// Подключение стилей отдельных страниц
//@import "home";